<!DOCTYPE html>
<html lang="fi">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Lennä ja tiedä!</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
  <div id="root"></div>

  <!-- React & ReactDOM -->
  <script src="https://unpkg.com/react@17/umd/react.development.js"></script>
  <script src="https://unpkg.com/react-dom@17/umd/react-dom.development.js"></script>

  <!-- Babel (tarvitaan JSX:n tulkkaamiseen) -->
  <script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>

  <!-- Pelin React-koodi -->
  <script type="text/babel" src="{{ url_for('static', filename='javascript.js') }}"></script>
</body>
</html>
